<div class="mb-3">
  <form
    class="widget-search__form"
    role="search"
    method="get"
    action="https://google.com/search"
  >
    <label>
      <input
        class="w-full px-3 py-2.5 focus:outline-none rounded-xl shadow-sm text-sm bg-white dark:bg-warmgray-900 text-gray-900 dark:text-white dark:placeholder-gray-300"
        type="search"
          placeholder="記事を検索..."
        value=""
        name="q"
          aria-label="記事検索"
      />
    </label>
    <input class="hidden" type="submit" value="Search" />
    <input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
  </form>
</div>
